body{
    background-color: pink;
    margin: 0px;
    padding: 0px;
    
}

.topnav {
    background-image: url(pics/coffee-beans-7126154_1920.jpg);
    overflow: hidden;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  
  
  h1{
    display: inline;
  }
