html{
   
    margin: 40px;
    border: pink solid 40px;
}
#cim{
    font-size: 300%;
}
img{
    height: 200px;
    width: 200px;
}
.headerdoboz {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(coffee-beans-7126154_1920.jpg);
    width: auto;
    color: #ccc;
}

#menu {
    display: flex;
}

.jobb .linkek {
    margin-left: 50px;
    font-size: 200%;
    
}
.keret{
    width: 200px;
    display: inline-block;
    width: 30%;
    margin: 10px;
    height: 300px;
    word-wrap: break-word
}
#nagykeret{
    display: flex;
    
}
a{
    color: white;
    text-decoration: none; 
    
}
a:hover, a:active, a:visited {
    color: white;
    text-decoration: none;
    
}